.sidebar {
  max-width: 260px;
  min-width: 260px;
  height: calc(100% - 20px);
  padding: 10px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #21252b;
}

.sidebar-subitem-text {
  font-size: 0.8rem;
  color: #fff;
}

.MuiListItem-root {
  color: #fff !important;
}
