.sidebar {
  max-width: 280px;
  min-width: 280px;
  height: calc(100% - 20px);
  padding: 10px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #21252b;
}
.MuiList-root {
  background-color: #21252b !important;
  color: #fff !important;
}

.MuiAccordion-root {
  background-color: #21252b !important;
  color: #fff !important;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border-left: solid 1px #fff !important;
  border-radius: 0px !important;
  margin-left: 0 !important;
  padding-left: 0 !important;
}


.MuiIconButton-root {
  color: #fff !important;
}

.sidebar-subitem-text {
  font-size: 0.8rem;
  color: #fff;
}

.MuiListItem-root {
  color: #fff !important;
}
