.container {
  width: 100%;
  flex-direction: row;
}

.editor-container {
  display: inline-block;
  position: absolute;
  left: 300px;
  top: 0;
  height: 100%;
}

.ace_editor {
  height: calc(100% - 128px) !important;
  width: 100% !important;
}

.MuiAlert-root {
  margin-top: -200px !important;
  margin-left: 300px !important;
}
